*{box-sizing: border-box;}

#page{width: 99vw;height: 99vh; margin: 0 auto;}
nav{ width: 100%;   margin: 0 auto;}
.brand{ text-align: center; padding: 1.5rem; float: none;}
.fab img {width: 2rem;}
.fac img {width: 2rem;}
.fab{position: absolute; left:15px; top: 25px;}
.fac{position: absolute; right: 15px; top: 25px;}
.menu{margin: 1rem;}
.menu li{border: 1px solid lightgray;  width: 33%; float: left;}
.menu li a{ width: 100% ;padding: 3rem 1rem;
    display: flex; align-items: center;justify-content: center;}
.menu li a:hover{background-color: var(--blue-light-10);}
.menu li a:active{background-color: var(--blue-light-40);}


@media screen and (min-width:768px) {
    .fab , .fac{display: none;}
    .brand{float: left; margin: 0 1rem;}
    .menu li{border: none; width: auto; }
    .menu li a{padding: 1rem 1rem;}
    .menu{float: right;}
}
@media screen and (min-width:1024px) {
     .brand{margin: 0 8rem;} 
}

